@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model SmallSimpleOA.ViewModels.AttendanceAttendanceViewModel
@using Microsoft.AspNetCore.Http

<div class="container row h-100 mh-100 pb-2">
    <div class="col-12 h-100">
        <div class="row h-5 ">
            <div class="col-12 h-100">
                <h3 class="mb-0">Attendance</h3>
            </div>
        </div>
        <div class="row h-95 pt-3">
            <div class="col-3 container h-100">
                <div class="row h-10">
                    <div class="col-12 h-100">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle w-75" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @Model.SelDep.Name
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                @foreach (var department in Model.DepartmentList)
                                {
                                    <a class="dropdown-item" href="@Url.Action("Attendance", "Attendance", new {d = department.Id})">@department.Name</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row  h-90">
                    <div class="col-12 h-100">
                        <div class="list-group mh-100" id="staffList" style="overflow-y: scroll;">

                            @foreach (var user in Model.StaffOfDepartment)
                            {

                                    <a href="#" value="@user.Id"  class="list-group-item list-group-item-action">@user.FirstName&nbsp;@user.LastName</a>
                            }


                        </div>
                    </div>
                </div>

            </div>
            <div class="col-9 container h-100">
                <div id='wrap'>
                    <div id='calendar'></div>
                    <div style='clear: both'></div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
<script>
    var targetUserId = @Model.StaffOfDepartment.First().Id;


    $('#staffList').children('a').each(function()
    {
        if ($(this).attr('value') == targetUserId)
        {
            $(this).addClass('active');
        }
    });
    $('#staffList').children('a').click(function ()
    {
        $(this).parent().children().removeClass('active');
        $(this).addClass('active');
        targetUserId = $(this).attr('value');
        var c = $("#calendar").fullCalendar('getCalendar');
        var es = c.getEventSources();
        var e = es[0];
        e.data = {uid : targetUserId};
        c.removeEventSources();
        c.addEventSource(e);
        c.refetchEvents();
    });
    

$("#calendar").fullCalendar(
    {
        header:
        {
            right: 'today prevYear,prev,next,nextYear'
        },
        eventSources:
        [
            {
                url: '@Url.Action("GetHistory", "Attendance")',
                type: 'GET',
                data:{uid : targetUserId},
                color: 'dark blue',
                textColor: 'white',
                error: function() {
                    alert('there was an error while fetching data!');
                }
            }

        ]
    });</script>
}