@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model SmallSimpleOA.ViewModels.HomeHomeViewModel;
<div class="container row ">
    <div class="col-6 container">
        <div class="row container">
            <div class="col-12">
                <h3 class="float-left">Event</h3>
            </div>

        </div>

        <div class="row container no-padding-left no-padding-right">
            <div class="col-12 no-padding-left no-padding-right">

                @if (Model.EventList.Count > 0)
                {
                    <div class="list-group">
                        @foreach (var e in Model.EventList)
                        {
                            var date = "";
                            if (e.StartTime != null)
                            {
                                date = ((DateTime)e.StartTime).ToString("MM/dd/yyyy");
                            }
                            else
                            {
                                date = "";
                            }

                            <a href="@Url.Action("Detail", "AskForLeave", new { id = e.Id })" class="list-group-item list-group-item-action">
                                <span class="d-inline-block text-truncate" style="max-width:25%;">@e.Applicant.FirstName&nbsp;@e.Applicant.LastName</span>&nbsp;&nbsp;
                                <span class="d-inline-block text-truncate" style="max-width:45%;">@e.Reason &nbsp;</span>
                                <span class="d-inline-block float-right">@date</span>
                            </a>
                        }

                    </div>

                    @if (Model.EventPages > 1)
                    {
                    <br />
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("Home", "Home", new { ep = Model.EventCurrentPage <= 1 ? 1 : Model.EventCurrentPage - 1 })" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>

                            @for (int i = 0; i < Model.EventPageitems.Count(); i++)
                            {
                                if (Model.EventPageitems[i] == Model.EventCurrentPage)
                                {
                                    <li class="page-item active"><a class="page-link" href="@Url.Action("Home", "Home", new { ep = Model.EventPageitems[i] })">@Model.EventPageitems[i]</a></li>
                                }
                                else
                                {
                                    <li class="page-item"><a class="page-link" href="@Url.Action("Home", "Home", new { ep = Model.EventPageitems[i] })">@Model.EventPageitems[i]</a></li>
                                }
                            }
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("Home", "Home", new { ep = Model.EventCurrentPage >= Model.EventPages ? Model.EventPages : Model.EventCurrentPage + 1 })" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    }
                }
                else
                {
                    <h4 style="color: lightgrey;">You don't have any data in this area yet. </h4>
                    <h4 style="color: lightgrey;">You will get a event when others' leave requests flow to you. </h4>

                }

            </div>
        </div>
    </div>
    <div class="col-6 container">
        <div class="row container">
            <div class="col-11">
                <h3 class="float-left">Todo Task</h3>
            </div>
            <div class="col-1 d-flex  ">
                <button type="button" class="btn btn-success btn-sm align-self-center" onclick="javascript:location.href='@Url.Action("New", "Todo", new { f = "h"})'">NEW</button>
            </div>
        </div>
        <div class="row container no-padding-left no-padding-right">
            <div class="col-12 no-padding-left no-padding-right">
                @if (Model.TodoTaskList.Count > 0)
                {
                    <div class="list-group">
                        @foreach (var e in Model.TodoTaskList)
                        {

                            var color = "";

                            @if (e.Status == (int)TodoTaskStatus.Done)
                            {
                                color = "bg-success text-white";
                            }
                            else if (e.Status == (int)TodoTaskStatus.Faraway)
                            {
                                color = "bg-light text-black";
                            }
                            else if (e.Status == (int)TodoTaskStatus.Approching)
                            {
                                color = "bg-info text-white";
                            }
                            else if (e.Status == (int)TodoTaskStatus.DueSoon)
                            {
                                color = "bg-warning text-white";
                            }
                            else if (e.Status == (int)TodoTaskStatus.Due)
                            {
                                color = "bg-danger text-white";
                            }


                            var date = "";
                            if (e.DeadLine != null)
                            {
                                date = ((DateTime)e.DeadLine).ToString("MM/dd/yyyy");
                            }
                            else
                            {
                                date = "";
                            }

                        <a href="@Url.Action("Detail", "Todo", new { id = e.Id, f = "h" })" class="list-group-item list-group-item-action @color">
                            <span class="d-inline-block text-truncate" style="max-width: 75%;">@e.Title</span>&nbsp;&nbsp;

                            <span class="d-inline-block float-right">@date&nbsp;&nbsp;</span>
                        </a>
                        }
                    </div>

                    @if (Model.TodoPages > 1)
                    {
                     <br />
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("Home", "Home", new { tp = Model.TodoCurrentPage <= 1 ? 1 : Model.TodoCurrentPage - 1 })" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>

                            @for (int i = 0; i < Model.TodoPageitems.Count(); i++)
                            {
                                if (Model.TodoPageitems[i] == Model.TodoCurrentPage)
                                {
                                    <li class="page-item active"><a class="page-link" href="@Url.Action("Home", "Home", new { tp = Model.TodoPageitems[i] })">@Model.TodoPageitems[i]</a></li>
                                }
                                else
                                {
                                    <li class="page-item"><a class="page-link" href="@Url.Action("Home", "Home", new { tp = Model.TodoPageitems[i] })">@Model.TodoPageitems[i]</a></li>
                                }
                            }
                                                    <li class="page-item">
                                <a class="page-link" href="@Url.Action("Home", "Home", new { ep = Model.TodoCurrentPage >= Model.TodoPages ? Model.TodoPages : Model.TodoCurrentPage + 1 })" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    }
                }
                else
                {
                    <h4 style="color: lightgrey;">You don't have any data in this area yet. </h4>
                }

            </div>
        </div>


    </div>

</div>

@if (@Model.NeedClockIn)
{
    <div id="signPop" class="card text-white bg-info mb-3" style="max-width: 18rem; z-index:500;">
        <div class="card-header">You Have NOT Clocked In Today! Clock In Now?</div>
        <div class="card-body row">
            <div class="col-auto">
            </div>
            <div class="col-auto button-light">
                <a class="text-white" onclick="cancelClock();" href="#">No thanks</a>
            </div>
            <div class="col-2">
            </div>
            <div class="col-auto button-light">
                <a class="text-white" onclick="clockIn();" href="#">Sure</a>
            </div>
            <div class="col-auto">
            </div>
        </div>
    </div>

    @section Scripts{
        <script>

            $("#signPop").position({
                my: "right top",
                at: "right-15 bottom+15",
                of: "#messagePopBase"
            });

            function clockIn()
            {
                $.ajax({
                    type: "POST",
                    data: {actionType : "1", by : "ajax"},
                    url: "@Url.Action("DoClock", "Attendance")",
                    dataType: 'text',
                    success: function (response) {
                        if (response != "0")
                        {
                            alert(response);
                        }
                        else
                        {
                            
                            $("#signPop").fadeOut({'complete' :
                                function()
                                {
                                    $("#signPop").children(".card-body").remove();
                                    $("#signPop").children(".card-header").text("Clock in success!");
                                    $("#signPop").fadeIn({'complete' :
                                        function()
                                        {

                                           $("#signPop").delay(1000).fadeOut();
                                        }
                                    });
                                }
                            });
                        }
                    },
                    error: function (response) {
                        alert("Some unknown error occured, please try it again later.");
                    }

                });
            }

            function cancelClock()
            {
                $("#signPop").fadeOut();
            }
        </script>
    }
}
