@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Microsoft.AspNetCore.Http
@model SmallSimpleOA.ViewModels.TodoTaskDetailViewModel;

<form asp-controller="Todo" asp-action="DoUpdate" method="post">
    <div class="row container">
        <div class="col-12">
            <h3 class="float-left">Todo Task</h3>
        </div>
    </div>

    <div class="container row">
        <div class="col-12 container">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
                </div>
                <input type="text" class="form-control" asp-for="Title" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="@Model.Todo.Title">
            </div>
        </div>
    </div>
    <div class="container row ">
        <div class="col-12 container">
            Content
            <textarea class="form-control rounded-0" name="Content" style="resize: none;" rows="10">@Model.Todo.Content</textarea>
        </div>
    </div>
    <br />
    <div class="container row ">
        <div class="col-12 container">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">DeadLine</span>
                </div>
                <input type="text" id="DeadLine" name="DeadLine" class="form-control datetimepicker-input" autocomplete="off" data-toggle="datetimepicker" data-target="#DeadLine">

            </div>
        </div>
    </div>
    <input type="hidden" asp-for="Id" value="@Model.Todo.Id" />
    <input type="hidden" asp-for="F" value="@Model.F" />

    @if (Model.LastUpdateSuccess == 1)
    {
        <div class="container row">
            <div class="col-12">
                <p class="text-success">@Model.LastUpdatePrompt</p>
            </div>
        </div>
    }
    else if (Model.LastUpdateSuccess == -1)
    {
        <div class="container row">
            <div class="col-12">
                <p class="text-danger">@Model.LastUpdatePrompt</p>
            </div>
        </div>
    }


    <br />
    <div class="container row ">
        <div class="col-12 ">
            @if (Model.Todo.Status != (int)TodoTaskStatus.Done)
            {
                <div class="pl-2  float-right">
                    <button type="submit" class="btn btn-success">SUBMIT</button>
                </div>


                <div class="pl-2  float-right">
                    <a class="btn btn-primary" asp-controller="Todo" asp-action="DoDone" asp-route-F="@Model.F" asp-route-id="@Model.Todo.Id">FINISH</a>
                </div>
            }


            <div class="pl-2  float-right">
                <a class="btn btn-danger" asp-controller="Todo" asp-action="DoDelete" asp-route-F="@Model.F" asp-route-id="@Model.Todo.Id">DELETE</a>
            </div>

            <div class="pl-2  float-right">
                <button type="button" class="btn btn-info" onclick="javascript:history.go(-1); return false;">BACK</button>
            </div>
        </div>
    </div>
</form>

@section Scripts{
<script type="text/javascript">
        let date = new Date("@Model.Todo.DeadLine");
        $('#DeadLine').datetimepicker({defaultDate: date});
</script>
}