@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Microsoft.AspNetCore.Http
@model SmallSimpleOA.ViewModels.AskForLeaveDetailViewModel;
<div class="row container">
    <div class="col-12">
        <h3 class="float-left">Ask For Leave</h3>
    </div>
</div>
<div class="container row ">
    <div class="col-12 container">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Name</span>
            </div>
            <input type="text" class="form-contolirol datetimepicker-input" value="@Model.AskForLeave.Applicant.FirstName @Model.AskForLeave.Applicant.LastName" readonly="readonly">

        </div>
    </div>
</div>
<div class="container row ">
    <div class="col-12 container">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">From</span>
            </div>
            <input type="text" class="form-control datetimepicker-input" value="@Model.AskForLeave.StartTime" readonly="readonly">
            <div class="input-group-prepend">
                <span class="input-group-text">To</span>
            </div>
            <input type="text" class="form-control datetimepicker-input" value="@Model.AskForLeave.EndTime" readonly="readonly">
        </div>
    </div>
</div>
<div class="container row">
    <div class="col-12 container">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Reason</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="@Model.AskForLeave.Reason" readonly="readonly">
        </div>
    </div>
</div>
<div class="container row ">
    <div class="col-12 container">
        Memo
        <textarea class="form-control rounded-0" style="resize: none;" rows="10" readonly="readonly">@Model.AskForLeave.Memo</textarea>
    </div>
</div>

@if (@Context.Session.GetInt32("uid") == Model.AskForLeave.Applicant.Id)
{
    if (Model.AskForLeave.Status == (int)AskForLeaveStatus.Applied || Model.AskForLeave.Status == (int)AskForLeaveStatus.Reviewing)
    {
        <br />
        <div class="container row ">
            <div class="col-12 container">
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="Your request is at @Model.AskForLeave.CurrentAt.FirstName @Model.AskForLeave.CurrentAt.LastName" readonly="readonly">
            </div>
        </div>
    }
    else if (Model.AskForLeave.Status == (int)AskForLeaveStatus.Approved)
    {
        <br />
        <div class="container row ">
            <div class="col-12 container">
                <input type="text" class="form-control text-success" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="Your request is approved." readonly="readonly">
            </div>
        </div>
    }
    else if (Model.AskForLeave.Status == (int)AskForLeaveStatus.Rejected)
    {
        <br />
        <div class="container row ">
            <div class="col-12 container">
                <input type="text" class="form-control text-danger" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="Your request is rejected." readonly="readonly">
            </div>
        </div>
    }
}

<br />
<div class="container row ">
    <div class="col-12 ">
        @if (Model.AskForLeave.CurrentAt != null && @Context.Session.GetInt32("uid") == Model.AskForLeave.CurrentAt.Id)
{
        <div class="pl-2  float-right">
            <a class="btn btn-success text-light" asp-controller="AskForLeave" asp-action="DoAction" asp-route-act="approve" asp-route-id="@Model.AskForLeave.Id">APPROVE</a>
        </div>
        <div class="pl-2  float-right">
            <a class="btn btn-danger text-light" asp-controller="AskForLeave" asp-action="DoAction" asp-route-act="reject" asp-route-id="@Model.AskForLeave.Id">REJECT</a>
        </div>
}
        <div class="pl-2  float-right">
            <button type="button" class="btn btn-info" onclick="javascript:history.go(-1); return false;">BACK</button>
        </div>
    </div>
</div>
